
@import "colours";

$bg_alpha_grid: url("../../img/transparent_pattern.gif") top left repeat;

.canvas-color-picker, #matching, #PANTONEcolors {
  font-family: sans-serif;
}

// .color-picker-container {
//
// }

#color_sample {
  border: $grey 1px dotted;
  padding: 5px;

  &::after {
    background: $bg_alpha_grid;
    content: "";
    display: inline-block;
    height: 26px;
    margin: 0 0 0 -55px;
    position: absolute;
    width: 61px;
    z-index: -1;
  }
}

#matching {
  font-family: monospace;
  line-height: 25px;
  margin: 5px 0;
}

#color-picker {
  min-height: 250px;
  min-width: 500px;
}

.canvas-color-picker {
  background: transparent;
  height: 260px;
  position: relative;
  width: 400px;

  .popup {
    background: linear-gradient($very-ligh-grey, $light-grey);
    border: 1px solid $light-light-grey;
    box-shadow: 3px 2px 5px $dark-grey;
  }

  .canvas-container {
    border-radius: 4.5px;
    cursor: crosshair;
    display: inline-block;
    height: 100%;
    overflow: hidden;
  }

  .color-map {
    margin: 0 5px 0 0;
  }

  .color-bar {
    margin: 0 20px 0 0;
    width: 30px;
  }

  .alpha-bar {
    background: $bg_alpha_grid;
    border: $grey 1px solid;
    cursor: row-resize;
    width: 30px;

    &::after {
      border-bottom: $grey 1px dashed;
      border-top: $grey 1px dashed;
      content: "";
      display: block;
      height: 100%;
      margin-left: -10px;
      position: absolute;
      top: 0;
      width: 50px;
      z-index: -10;
    }
  }

  .preview {
    background: $bg_alpha_grid;
    border: 1px solid $grey;
    border-radius: 4.5px;
    height: 55px;
    position: absolute;
    right: 0;
    top: 0;
    width: 193px;

    .cur-color {
      border-right: $grey 1px dotted;
      cursor: pointer;
      float: left;
      height: 55px;
      position: relative;
      width: 50%;
    }

    .old-color {
      cursor: pointer;
      float: right;
      height: 55px;
      width: 49%;
    }
  }

  .form {
    font-family: monospace;
    height: 85px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 70px;
    width: 193px;

    br {
      clear: both;
    }

    .hor-div {
      display: table;
      width: 100%;
    }

    .hsb {
      display: table-cell;
    }

    .rgb {
      display: table-cell;
      padding: 0 13px;
    }

    .cmyk {
      display: table-cell;
    }

    .color {
      clear: both;
      position: relative;
      top: 5px;
      width: 100%;

      input {
        display: inline;
        float: none;
        margin: 0 2px;
        text-align: left;
        width: 45px;
      }
    }

    label {
      display: block;
      margin: 2px 0;
    }

    input:not(#HEX), select {
      margin-left: 5px;
      margin-right: 2px;
    }

    input {
      border: $grey 1px solid;
      border-radius: 0;
      display: inline-block;
      padding: 2px 3px;
      text-align: right;
      vertical-align: middle;
      width: 22px;
    }

    .proximity {
      clear: both;
      left: 0;
      position: relative;
      top: 10px;
    }
  }
}

#PANTONEcolors {
  td {
    padding: 5px;

    &:first-child, &:last-child { padding: 0; }

    a {
      background: url("../../img/transparent_pattern.gif") top left repeat;
      border: $grey 1px solid;
      color: $black;
      display: block;
      text-decoration: none;

      &:hover {
        border: $dark-grey 1px solid;
        box-shadow: 0 0 3px $dark-grey;
        text-decoration: none;
      }

      .reg {
        font-family: monospace;
        font-size: 11px;
        vertical-align: 2px;
      }

      .alpha {
        color: $dark-grey;
        font-size: .6em;
        font-weight: lighter;
        line-height: 11px;
      }

      .pantone-sample {
        height: 100px;
        min-width: 100px;
        width: 100%;

      }

      .pantone-data {
        background-color: white;
        font-family: Helvetica;
        padding: 5px;
      }
    }
  }
}
